## Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา stat >>> AAA

In [2]:
a = ' ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8'
print (a)

 ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8

#### ถ้าจะใส่หลายๆคนแบบไม่ต้องแก้ ใช้ปีกกาล้อมรอบตัวแปรที่ต้องการใส่

In [10]:
name = 'พุธิตา'
surname = 'เจือจันทร์'
ID = '603021879-8'
b = f' ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

 ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8

### function template
```python 
def functoin_name(x) :
    do_someting
    return y

def functoin_name(Input) :
    do_someting
    return Output
```

### Normaol function

In [13]:
def print_linel1(name1,surname1,ID1) :
  st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
  return st

In [14]:
print(print_linel1('พุธิตา','เจือจันทร์','603021879-8'))

ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8

### Function Without Output

In [15]:
def print_2lines(name1,surname1,ID1,grade) :
  st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
  print (st)
  st2 = f'เกรดวิชา stat1 >>> {grade}'
  print (st2)

In [17]:
print(print_2lines('พุธิตา','เจือจันทร์','603021879-8','A'))

ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8
เกรดวิชา stat1 >>> A
None

In [18]:
def print_2lines(name1,surname1,ID1,grade) :
  st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
  print (st)
  st2 = f'เกรดวิชา stat1 >>> {grade}'
  print (st2)

In [20]:
print(print_2lines('พุธิตา','เจือจันทร์','603021879-8','A'))
print(print_2lines('วิภาวดี','แก้วดวงดี','603021112-8','A'))
print(print_2lines('กรรณิการ์','วิรัชวา','603020904-0','A'))
print(print_2lines('ปิยาพร','อุตรนคร','603021873-0','A'))

ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8
เกรดวิชา stat1 >>> A
None
ชื่อ วิภาวดี นามสกุล แก้วดวงดี รหัส 603021112-8
เกรดวิชา stat1 >>> A
None
ชื่อ กรรณิการ์ นามสกุล วิรัชวา รหัส 603020904-0
เกรดวิชา stat1 >>> A
None
ชื่อ ปิยาพร นามสกุล อุตรนคร รหัส 603021873-0
เกรดวิชา stat1 >>> A
None

### Function Without Input (ไม่มีอินพุท)

In [21]:
def two_x_three() :
  x = 2*3
  return x

In [22]:
two_x_three()

6

### Function with default argument (ค่าที่ไม่ได้เปลี่ยนแปลง) (ตัวไหนที่ไม่ได้ใส่ค่าก็ตั้งค่าให้มัน โดยแทนตังที่เราตั้งค่าไป)

In [23]:
def print_2lines_default(name1,surname1,ID1,grade= 'F') :
  st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
  print (st)
  st2 = f'เกรดวิชา stat1 >>> {grade}'
  print (st2)

In [25]:
print(print_2lines_default('พุธิตา','เจือจันทร์','603021879-8'))

ชื่อ พุธิตา นามสกุล เจือจันทร์ รหัส 603021879-8
เกรดวิชา stat1 >>> F
None

### สามารถเปลี่ยนลำดับได้ ถ้ารู้ว่าอินพุทอยู่ไหน) เช่น ตั้งค่าหรือกำหนดค่าไว้ตรงไหน

In [26]:
print(print_2lines_default(surname1 = 'พุธิตา', name1 = 'เจือจันทร์', ID1 = '603021879-8'))

ชื่อ เจือจันทร์ นามสกุล พุธิตา รหัส 603021879-8
เกรดวิชา stat1 >>> F
None

# Loop (วนซ้ำ)

```Python
for each_member in listA:
    do someting
   ```

In [27]:
for i in [1,2,3] :
    print(i)

1
2
3

In [30]:
for i in 'Puttita' :
    print(f'{i} -> /')
    print('  ')

P -> /

u -> /

t -> /

t -> /

i -> /

t -> /

a -> /

#### 1.สร้าง list ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
#### 2.สร้าง function print ประโยคว่า ชื่อ XXX ความรู้สึกYYY เพื่อนุกคนในแถวยาวZZZ
#### 3.วนลูปเรียก function

In [31]:
list_friend = ('ปิยาพร','กรรณิการ์','วิภาวดี','พรภิรมย์','ทัชมินทร์')
list_friend

('ปิยาพร', 'กรรณิการ์', 'วิภาวดี', 'พรภิรมย์', 'ทัชมินทร์')

In [84]:
def print_name(nameF,feeling= 'love',name= 'dew'):
  st = f'ชื่อ {name} ความรู้สึก {feeling} เพื่อน {friend}'
  print (st)

In [85]:
print(print_name(name = , feeling = , nameF = '603021879-8'))

SyntaxError: invalid syntax (<ipython-input-85-e1312d3ddbf3>, line 1)

In [55]:
nameF_list = ['kwan','i','earn','bird','min']
nameF_list

['kwan', 'i', 'earn', 'bird', 'min']

In [116]:
def print_feeling(I,feeling,friend) :
    print(f'{I} {feeling} {friend}')

In [76]:
print_feeling('dew','love','kwan')

dew love kwan

In [77]:
for f in nameF_list:
    print_feeling('dew','love',f)

dew love kwan
dew love i
dew love earn
dew love bird
dew love min

#### loop in function (สร้างลูปเข้าไปในfunctionเลย)

In [117]:
def print_feelings(I,feeling,friends):
    for friend in friends :
         print(f'{I} {feeling} {friend}')

In [119]:
print_feelings('dew','love', nameF_list)

dew love kwan
dew love i
dew love earn
dew love bird
dew love min

### loop in loop สามารถใช้ for loop ซ้อนกันได้

In [120]:
for name1 in nameF_list:
    for name2 in nameF_list :
        print_feeling(name1,'love',name2)

kwan love kwan
kwan love i
kwan love earn
kwan love bird
kwan love min
i love kwan
i love i
i love earn
i love bird
i love min
earn love kwan
earn love i
earn love earn
earn love bird
earn love min
bird love kwan
bird love i
bird love earn
bird love bird
bird love min
min love kwan
min love i
min love earn
min love bird
min love min

### loop in dict

In [90]:
name_grade = { 'พุธิตา' : 'B', 'กรรณิการ์' : 'C', 'วิภาวดี' : 'A','ธนพง' : 'F' }

In [91]:
name_grade['ธนพง']

'F'

In [92]:
name_grade.keys()

dict_keys(['พุธิตา', 'กรรณิการ์', 'วิภาวดี', 'ธนพง'])

In [93]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พุธิตา ได้เกรด B
กรรณิการ์ ได้เกรด C
วิภาวดี ได้เกรด A
ธนพง ได้เกรด F

## Conditional

```Python
if condition :
    do something
elif condition2:
    do another thing
else :
    do ...
    ```

In [123]:
for name1 in nameF_list:
    for name2 in nameF_list:
        if name1 != name2:
            print_feeling(name1,'love',name2)

kwan love i
kwan love earn
kwan love bird
kwan love min
i love kwan
i love earn
i love bird
i love min
earn love kwan
earn love i
earn love bird
earn love min
bird love kwan
bird love i
bird love earn
bird love min
min love kwan
min love i
min love earn
min love bird

In [122]:
nameF_list

['kwan', 'i', 'earn', 'bird', 'min']

## EX

In [124]:
if True:
    print('Yes')

Yes

In [126]:
if False:
    print('No')
else:
    print('No')

No

In [127]:
if 1 == 1:
    print('1=1')

1=1

### เครื่องหมายที่ใช้กับ condition
#### == เช็คว่าค่าหน้ากับค่าหลังเท่ากันหรือไม่ ตอบ T / F
#### != ไม่เท่ากับ ถ้าไม่เท่า ตอบ T ถ้าเท่า F
#### >= เช็คว่าตัวข้างหน้ามากกว่าหรือเท่ากับตัวข้างหลังหรือเปล่า ถ้ามากกว่าตอบ T ถ้าน้อยว่าตอบ F
#### <= เช็คว่าตัวข้างหน้าน้อยกว่าหรือเท่ากับตัวข้างหลังหรือเปล่า ถ้าน้อยกว่าตอบ T ถ้ามากกว่าตอบ F
### <
### >

#### HW เขียนฟังก์ชั่นตัดเกรด โดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)
### input = [1,50,65,101,-5,49]

In [15]:
def Grade(S):
    if 79< S < 100:
        print(f'{S} ได้เกรด A')
    elif 75<=S<80 :
        print(f'{S} ได้เกรด B+')
    elif 70<=S<75:
        print(f'{S} ได้เกรด B')      
    elif 65<=S<70:
        print(f'{S} ได้เกรด C+')
    elif 60<=S<65:
        print(f'{S} ได้เกรด C') 
    elif 55<=S<60:
        print(f'{S} ได้เกรด D+')
    elif 50<=S<55:
        print(f'{S} ได้เกรด D')       
    elif S > 100:
        print(f'{S} ได้เกรด ผิดพลาด')       
    elif S < 0 :
        print(f'{S} ได้เกรด ผิดพลาด')
    else:
        print(f'{S} ได้เกรด F')

In [16]:
Grade(1)

1 ได้เกรด F

In [17]:
Grade(50)

50 ได้เกรด D

In [18]:
Grade(65)

65 ได้เกรด C+

In [19]:
Grade(101)

101 ได้เกรด ผิดพลาด

In [21]:
Grade(-5)

-5 ได้เกรด ผิดพลาด

In [22]:
Grade(49)

49 ได้เกรด F